html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: hsl(223deg 19% 96%);
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR STYLING */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: hsl(30deg 100% 100%);
  color: #333;
}

nav h1 {
  font-size: 2rem;
  text-decoration: underline;
}

nav ul li .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: inherit;
}

nav ul li .nav-link:hover {
  text-decoration: underline;
  font-size: 1.3rem;
  color: hsl(0, 66%, 45%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

/* HERO STYLING */
.hero-container {
  position: relative;
  text-align: center;
}

.hero-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-container p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  margin: 0;
  background-color: hsla(0, 0%, 82%, 0.703);
  padding: 25px;
  border-radius: 10px;
  font-weight: bold;
}

.hero-container span {
  color: hsl(0, 66%, 45%);
}

/* BARBER DISPLAY STYLING */
.barber-card img {
  width: 350px;
  height: 250px;
}

.barber-display-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 350px 350px 350px;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.barber-card {
  background-color: hsl(0, 0%, 86%);
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.barber-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 2rem;
  color: #333;
}

.barber-description {
  color: #333;
}

.display-book-button {
  width: 100%;
  height: 50px;
  border: 1px solid hsl(0, 0%, 86%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsl(0, 66%, 45%);
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.display-book-button:hover {
  background-color: hsl(0, 66%, 55%);
}

.display-book-button:active {
  background-color: hsl(0, 66%, 65%);
}

.barber-info {
  padding: 20px;
}

/* NEWSLETTER DISPLAY STYLING */
.email-newsletter-container {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.email-newsletter-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.newsletter-info-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  margin: 0;
  background-color: hsla(0, 0%, 82%, 0.703);
  padding: 25px;
  border-radius: 10px;
}

.newsletter-subscribe-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.newsletter-subscribe-container input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 86%);
  padding-left: 10px;
}

.newsletter-subscribe-container button {
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 86%);
}

.newsletter-subscribe-container button:hover {
  background-color: hsl(0, 66%, 55%);
}

.newsletter-subscribe-container button:active {
  background-color: hsl(0, 66%, 65%);
}

/* FOOTER STYLING */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #FFF;
  height: 100px;
  margin-top: 100px;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {
  .barber-display-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 equal columns */
    gap: 50px;
    /* spacing between cards */
    justify-content: center;
    /* centers the grid */
    padding: 50px;
    /* optional padding around the grid */
    width: max-content;
    /* container shrinks to fit columns */
    margin: 50px auto 0 auto;
    /* center container horizontally */
  }
}


@media (max-width: 870px) {
  .barber-display-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 100px;
    justify-content: center;
    align-items: center;
  }

  .newsletter-info-container {
    width: 600px;
  }

}

@media (max-width: 870px) {
  nav h1 {
    font-size: 1.5rem;
  }

  nav {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
  }

  nav ul li .nav-link {
    font-size: 1.1rem;
    text-wrap: nowrap;
    text-decoration: none;
    color: inherit;
    background-color: hsl(0, 66%, 45%);
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
  }

  .barber-display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .barber-card {
    background-color: hsl(0, 0%, 86%);
    width: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .newsletter-info-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    margin: 0;
    background-color: hsla(0, 0%, 82%, 0.703);
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .newsletter-info-container p {
    font-size: 1.6rem;
  }

  footer {
    font-size: 0.9rem;
  }

}

/* SERVICES STYLING */
.services {
  margin-top: 100px;
}

.services-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 350px 350px 350px;
  gap: 50px;
}

.services-title {
  font-size: 2.5rem;
}

.services-title,
.services-address {
  text-align: center;
}

.services-address {
  margin-bottom: 50px;
}


.service {
  background-color: hsl(30deg 0% 86%);
  padding: 20px;
}

.service-pricing {
  display: flex;
  justify-content: space-between;
}

.service p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  color: hsl(0, 66%, 45%);
}

.service button {
  height: 50px;
  width: 100px;
  border: 1px solid hsl(0, 0%, 86%);
  background-color: hsl(0, 66%, 45%);
  color: #FFF;
  font-weight: bold;
}

.service button:hover {
  background-color: hsl(0, 66%, 55%);
}

.service button:active {
  background-color: hsl(0, 66%, 65%);
}

/* MEDIA QUERIES FOR SERVICES */
@media (max-width: 1300px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    /* 2 equal columns */
    gap: 50px;
    /* spacing between cards */
    justify-content: center;
    /* centers the grid */
    padding: 50px;
    /* optional padding around the grid */
    width: max-content;
    /* container shrinks to fit columns */
    margin: 50px auto 0 auto;
    /* center container horizontally */
  }
}

@media (max-width: 870px) {
  .services-container {
    grid-template-columns: repeat(2, minmax(250px, 300px));
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .service {
    width: 400px;
  }
}

@media (max-width: 550px) {
  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .service {
    width: 350px;
  }
}

@media (max-width: 470px) {
  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .service {
    width: 300px;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.services {
  flex: 1;
  /* take all available space above footer */
}


/* GALLERY STYLING */
.gallery {
  margin-top: 100px;
}

.gallery-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 30px;
}

.image-card img {
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: 400px;
  object-fit: cover;
  /* ensures the image fills the card without distortion */
  display: block;
}

@media (max-width: 1300px) {
  .image-gallery {
    grid-template-columns: repeat(2, 350px);
  }
}

@media (max-width: 870px) {
  .image-gallery {
    grid-template-columns: repeat(2, minmax(250px, 300px));

  }
}

@media (max-width: 770px) {
  .image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

}


.booking-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
  /* space between cards */
  padding: 20px;
  justify-items: center;
}
.booking {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 100px;
}

/* Individual card styling */
.book-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
.booking-button {
  margin-bottom: 20px;
  height: 25px;
  padding: 15px;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  cursor: pointer;
}
.booking-button:hover {
  background-color: hsl(0, 66%, 55%)
}
.booking-button:active {
  background-color: hsl(0, 66%, 65%);
}

